


.header{
    height: 120px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.header-login{

}
.slider{
    width: 1440px;
    height: 520px;
    margin: 0 auto;
    display: flex;  
}
.slider-left{
    width: 720px;
    height: 100%;
    background-image: url("image/philip-martin.png");
}
.slider-right{
    width: 720px;
    height: 100%;
    background-color:black;
}